
body {
	font-family: Arial, Helvetica, sans-serif;
	background-position: left top;
	background-repeat: no-repeat;
	z-index:-1;
	
}
h2.heading {
	font-size: 20px;
	font-weight: bold;
	color: black /* text color */
	
	
}


li {
	color: white;
	font-family: Arial, Helvetica, sans-serif;
}

}
li.error {
	color: red;
}

li span {
	color: black /* text color */
}

#background {
    width: 100%; 
    height: 100%; 
    position: absolute; 
    left: 0px; 
    top: 0px; 
    z-index: 0;
}

.logo {
	position: absolute; 
    left: 30px; 
    top: 17px; 
    z-index: 1;
}

.logout {
	position: absolute; 
    right: 100px; 
    top: 47px; 
    z-index: 1;
}

.stretch {
    width:100%;
    height:95px;
}


.bannerClass {
	background-image: url(top.png);
	background-repeat: repeat;
	background-attachment: scroll;
	background-position: 0px 0px;
	height: 211px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	margin: 0px;
	padding: 0px;
	position: relative;
}
.loginLabel {
	font-size: 14px;
	color: 009444;
}



.error, .success  {
    color: #fff;
    font-size: 12px;
    text-align: left;
    margin-bottom: 10px;
    padding: 0px;
}

 .error {
   
    color: #c00;
}

 .success {
    background: #008800 !important;
}

#username-field input {
    width: 150px;
   
}

#password-field input {
    width: 150px;
    
}

