
<!DOCTYPE html >
<html>
    <head>
        <title>#{get 'title' /}</title>	
        <meta charset="${_response_encoding}">	
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
                           <link rel="stylesheet" type="text/css" media="screen" 
            href="@{'/public/stylesheets/reset.css'}" />
        <link rel="stylesheet" type="text/css" media="screen" 
            href="@{'/public/stylesheets/column.css'}" />
        <link rel="stylesheet" type="text/css" media="screen" 
            href="@{'/public/stylesheets/main.css'}" />

        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" 
            href="@{'/public/images/favicon.png'}" />
        <script src="@{'/public/javascripts/jquery-1.5.2.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        #{get 'moreScripts' /}
    </head>
    <body onload="onLoad();" onresize="onResize();">
        
        	<div id="background">
		<img src="@{'/public/images/top.png'}" class="stretch" alt="" /> <img
			src="@{'/public/images/logo.png'}" class="logo" alt="" />
			<a href="@{Secure.logout()}" class="logout">Log out</a>
		</div>
	
        
        <div id="main">
            #{doLayout /} 
        </div>
        
       
    </body>
</html>